---
import Glitch from "../components/glitch.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Try - a</title>
  </head>
  <body class="h-screen bg-black text-gray-A11">
    <main
      class="h-full flex flex-col items-center justify-between p-6 sm:pt-32"
    >
      <div
        class="max-w-3xl mx-auto flex flex-col justify-center items-center relative"
      >
        <div class="mt- max-w-2xl text-left">
          <Glitch text="v1.1" />
          <h1
            class="before:bg-shine relative mb-8 !text-gray-A12 before:absolute before:left-0 before:top-0 before:w-full before:animate-[shine_2s_ease-in-out] before:bg-[length:200%] before:bg-clip-text before:text-transparent before:content-['The_next_generation_of_writing_emails'] before:pointer-events-none text-[38px] leading-[46px] md:text-[70px] md:leading-[85px] tracking-[-1.024px;] text-slate-12 font-bold"
          >
            try()
          </h1>
          <div class="">
            <span>
              Don't let the Try Catch Tower of Terror destroy your beautiful one
              liners.
            </span>
          </div>
        </div>

        <div>
          <button>
            <pre>npm install @bdsqqq/try</pre>
          </button>
        </div>
      </div>
      <footer class="">
        Made by <a href="">Igor Bedesqui</a>, inspired by <a href="">Fireship</a
        >
      </footer>
    </main>
  </body>
</html>
