---
import Glitch from "../components/glitch.astro";
import CopyIcon from "../components/copyIcon.astro";
import GithubIcon from "../components/githubIcon.astro";
import FireshipLogo from "../components/fireshipLogo.astro";

import { clsx } from "clsx";
import { getEntryBySlug } from "astro:content";

const focusStyles = `
  !outline-none focus-visible:ring-1 ring-offset-8 ring-gray-A10 ring-offset-gray-0
`;

const terror = await getEntryBySlug("codesnippets", "tower-of-terror");
const { Content } = await terror.render();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Try - a</title>
  </head>
  <body
    class="h-screen bg-black text-gray-A11 selection:bg-gray-A11 selection:text-gray-2"
  >
    <main
      class="h-full flex flex-col items-center justify-between p-6 sm:pt-32"
    >
      <div
        class="max-w-3xl mx-auto flex flex-col justify-center items-center relative"
      >
        <div class="mt- max-w-2xl text-left space-y-2">
          <div class="flex justify-between items-end">
            <div>
              <Glitch text="v1.1" />
              <h1
                class="before:bg-shine relative !text-gray-A12 before:absolute before:left-0 before:top-0 before:w-full before:animate-[shine_2s_ease-in-out] before:bg-[length:200%] before:bg-clip-text before:text-transparent before:content-['The_next_generation_of_writing_emails'] before:pointer-events-none text-[38px] leading-[46px] md:text-[70px] md:leading-[85px] tracking-[-1.024px;] text-slate-12 font-bold"
              >
                try()
              </h1>
            </div>

            <div>
              <div class="flex flex-col gap-2 items-end">
                <button
                  id="copy"
                  class={clsx(
                    "cursor-copy bg-gradient-to-t from-gray-A3 to-gray-A5 p-2 rounded flex justify-between items-center gap-2 select-text hover:bg-gray-A2 transition-all hover:text-gray-12 hover:shadow-lg shadow-white active:scale-[98%] focus:text-gray-12",
                    focusStyles
                  )}
                >
                  <span class="select-none text-gray-A7">$</span>
                  <pre>npm install @bdsqqq/try</pre>
                  <div class="rounded-sm transform translate-y-px">
                    <CopyIcon />
                  </div>
                </button>
                <a
                  class={clsx(
                    "flex items-center gap-2 hover:text-gray-12 transition-colors focus:text-gray-12 rounded",
                    focusStyles
                  )}
                  href="https://github.com/bdsqqq/try"
                >
                  <div class="transform translate-y-px">
                    <GithubIcon />
                  </div> bdsqqq/try
                </a>
              </div>
            </div>
          </div>
          <div class="">
            <span>
              Don't let the Try Catch Tower of Terror destroy your beautiful one
              liners.
            </span>
          </div>
          <div class="">
            <Content />
          </div>
        </div>
      </div>
      <footer class="">
        Made by <a
          class={clsx(
            "hover:text-gray-12 focus:text-gray-12 transition-colors rounded",
            focusStyles
          )}
          href="https://twitter.com/bedesqui"
          ><img
            class="inline-block w-4 h-4 rounded-full"
            src="https://avatars.githubusercontent.com/u/37847523?v=4"
            alt=""
          /> Igor Bedesqui</a
        >, inspired by <a
          class={clsx(
            "hover:text-gray-12 focus:text-gray-12 transition-colors rounded",
            focusStyles
          )}
          href="https://www.youtube.com/watch?v=ITogH7lJTyE"
          ><FireshipLogo className="inline-block w-4 h-4 rounded-full" /> Fireship</a
        >
      </footer>
    </main>
  </body>
</html>
<script>
  const copy = document.querySelectorAll(".cursor-copy");
  copy.forEach((el) => {
    el.addEventListener("click", () => {
      navigator.clipboard.writeText("npm install @bdsqqq/try");
    });
  });
</script>
<style is:global>
  :root {
    --astro-code-color-text: var(--color-gray-9);
    --astro-code-color-background: var(--color-gray-1);
    --astro-code-token-constant: var(--color-gray-12);
    --astro-code-token-string: var(--color-gray-11);
    --astro-code-token-comment: var(--color-gray-A7);
    --astro-code-token-keyword: var(--color-gray-12);
    --astro-code-token-parameter: var(--color-gray-11);
    --astro-code-token-function: var(--color-gray-12);
    --astro-code-token-string-expression: var(--color-gray-11);
    --astro-code-token-punctuation: var(--color-gray-11);
    --astro-code-token-link: var(--color-gray-11);
  }

  .astro-code {
    @apply p-4 rounded;
  }
</style>
